[Wallpaper]
Encoding=UTF-8
Name=Swirled Leaf
File=NatureSeries001.jpg
X-GNOME-WP-Shade-Type=veritcal-gradient
X-GNOME-WP-PColor=#6C5045
X-GNOME-WP-SColor=#746325
