[Wallpaper]
Encoding=UTF-8
Name=Orange Flower
File=NatureSeries010.jpg
X-GNOME-WP-Shade-Type=solid
X-GNOME-WP-PColor=#F56600
X-GNOME-WP-SColor=#F56600
