[Wallpaper]
Encoding=UTF-8
Name=Phantom Leaves
File=NatureSeries011.jpg
X-GNOME-WP-Shade-Type=solid
X-GNOME-WP-PColor=#5F913C
X-GNOME-WP-SColor=#5F913C
