[Wallpaper]
Encoding=UTF-8
Name=Green Leaf
File=NatureSeries007.jpg
X-GNOME-WP-Shade-Type=veritcal-gradient
X-GNOME-WP-PColor=#C6DE5A
X-GNOME-WP-SColor=#537717
