[Wallpaper]
Encoding=UTF-8
Name=Rain Drops
File=NatureSeries005.jpg
X-GNOME-WP-Shade-Type=veritcal-gradient
X-GNOME-WP-PColor=#738839
X-GNOME-WP-SColor=#314F13
