[Wallpaper]
Encoding=UTF-8
Name=Electric Flower
File=NatureSeries002.jpg
X-GNOME-WP-Shade-Type=veritcal-gradient
X-GNOME-WP-PColor=#FFBB4B
X-GNOME-WP-SColor=#FEDEA1
