[Wallpaper]
Encoding=UTF-8
Name=Florida Sunset
File=NatureSeries014.jpg
X-GNOME-WP-Shade-Type=veritcal-gradient
X-GNOME-WP-PColor=#3E3C54
X-GNOME-WP-SColor=#67555D
